* {
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    height: 90vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 300px;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

input {
    width: 90%;
    height: 20px;
    padding-left: 5px;
    border-radius: 4px;
    /* border: 1px solid red; */
}

span {
    font-size: 10px;
    color: red;
}

button {
    color: white;
    background-color: rgb(0, 110, 255);
    align-self: center;
    padding: 5px 8px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}